# Created by .ignore support plugin (hsz.mobi)
### Linux template
*~

# KDE directory preferences
.directory

### SBT template
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

../../Downloads/image-compression-service/target/
lib_managed/
src_managed/
project/boot/
.history
.cache


### Scala template
*.class
*.logj

# sbt specific
.lib/
dist/*
target/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

### OSX template
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk



### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml

## Directory-based project format:
.idea/
.bsp/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/dictionaries

# Sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml

# Gradle:
# .idea/gradle.xml
# .idea/libraries

# Mongo Explorer plugin:
# .idea/mongoSettings.xml

## File-based project format:
*.ipr
*.iws

# IntelliJ
out/
logs/
conf.d/

#vscode
.bloop/
.metals/
.vscode/
null/
project/metals.sbt
project/project/